<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-1"><%= f.label :user %></div>
    <div class="col-sm-4"><%= f.text_field :name, class: "form-control" %></div>
  </div><br>
  <div class="row">
    <div class="col-sm-1"><%= f.label :email %></div>
    <div class="col-sm-4"><%= f.text_field :email, class: "form-control" %></div>
  </div><br>

  <div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
