<!DOCTYPE html>
<html>
  <head>
    <title>MistakesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <nav class="navbar navbar-default navbar-expand-sm">
    <div class="container-fluid">
    <div class="row">
    <ul class="nav navbar-items">
      <li><a href="#" class="col-xs-4 navbar-logo mb-0 h1">
        <img class="d-inline-block align-top" src="/assets/Error icon.png"
        width="50" height="50" >
        Log it!
      </a></li>
      <li><a class="col-xs-4 list-nav-item1 ml-2" href="#">Users</a></li>
      <li><a class="col-xs-4 list-nav-item2 ml-2" href="#">Mistake Templates</a></li>
    </ul>

  </div>
  </div>
  </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
